@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.force-row{
  display: flex;
  flex-direction: row;
}

.force-column{
  display: flex;
  flex-direction: column;
}

.center{
  text-align: center;
}

/* Header */
.header{
  border: solid 1px;
  padding: 10px;
  justify-content: space-between;
}

/* NavBar */

.nav-bar{
  border: solid 1px;
  justify-content: space-between;
  padding: 0 30px;
}

.nav-link{
  margin: 10px;
}

/* MainView */
.main-view{
  border: solid 1px;
  padding: 10px;
  justify-content: center;
}

.bug-post-list{
  flex: 5;
}

.bug-post{
  border: solid 1px;
  padding: 10px;
}

.side-bar{
  flex: 1;
  border: solid 1px;
  padding: 10px;
}

ul{
  list-style: none;
}

.bug-post-button{
  background-color: #fff;
  border: solid;
  color: #000;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 8px;
}